<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Indie Starter - Search Result</title>

  <% include ../partials/header %>
  <link rel="stylesheet" href="styles/search.css">
</head>
<body>
  <% include ../partials/navbar %>

  <div class="search-banner">
    <div class="container">
      <div class="search-banner-title">Browse Projects</div>
      <div class="search-banner-input-container">
        <div class="search-input">
          <input type="text" class="form-control search-input-form"
            placeholder="Search project..">
          <span class="glyphicon glyphicon-search search-input-logo"></span>
        </div>
      </div>
      <h4>Search in</h4>
      <div class="row">
        <div class="col-lg-3">
          <div class="search-category-item active">
            Technology
          </div>
        </div>
        <div class="col-lg-3">
          <div class="search-category-item">
            Technology
          </div>
        </div>
        <div class="col-lg-3">
          <div class="search-category-item">
            Technology
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container search-result">
    <div class="section-header">
      <div class="section-title">Search Results</div>
      <div class="section-nav">
        <span>Sort by</span>
        <div class="dropdown" style="display: inline-block;">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Relevance
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><a href="">Relevance</a></li>
            <li><a href="">Name</a></li>
            <li><a href="">Start date</a></li>
            <li><a href="">End date</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <% projects.forEach(function(project) { %>
      <div class="col-lg-3">
        <div class="projectcard">
          <div class="projectcard-thumbnail">
            <img src="<%= project.image_url %>" alt="" class="projectcard-thumbnail-img">
          </div>
          <div class="projectcard-content">
            <div class="project-title"><%= project.title %></div>
            <div class="project-owner"><%= project.owner %>, <%= project.owner_country %></div>
            <div class="project-description">
              <%= project.description %>
            </div>
          </div>
        </div>
      </div>
      <% }); %>
    </div>
  </div>

  <% include ../partials/footer %>
  <% include ../partials/scripts %>
</body>
</html>
