<div class="resultscontainer">
  <!-- SUMMARY -->
  <% if (summary) { %>
    <% for (let field of summary.fields) { %>
    <p>
      <strong><%= capitalize.words(field.name) %>:</strong>
      <%= summary.rows[0][field.name] %>
    </p>
    <% } %>
  <% } %>

  <!-- CONTENT -->
  <% if (content) { %>

    <table class="table" summary="<%= reportDescription %>">
      <tr>
        <% for (let field of content.fields) { %>
        <th><%= capitalize.words(field.name) %></th>
        <% } %>
      </tr>
      
      <% for (let row of content.rows) { %>
      <tr>
        <% for (let field of content.fields) { %>
        <td><%= row[field.name] %>
        <% } %>
      </tr>    
      <% } %>
    </table>

  <% } %>
</div>
